@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main img {
		display: block;
	}
	.container {
		width: 100%;
		padding: 0 40px;
	 }
	 .menu-left {
		display: flex;
		flex: 1;
		justify-content: flex-start;
	 }
}