@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main img {
		display: block;
	}
	.container {
		width: 100%;
		padding: 0 40px;
	 }
	 .menu-left {
		display: flex;
		flex: 1;
		justify-content: flex-start;
	 }
}
@media only screen and (max-width: 767px) {
	/* styles for small screens */
	.container {
	  width: 100%;
	  padding: 0 20px;
	}
	.menu-left {
	  display: block;
	}
	.nav-toggle {
	  display: block;
	}
	.menu-right {
	  display: flex;
	  justify-content: space-between;
	}
	.head{position: fixed;}
 }
 