@media only screen and (min-width: 64rem) {
  nav ul li a {
     padding:0.5rem 1rem;
  }
  nav {
    display: flex;
  }

  .abouts h2,h3 {
      margin: 20px auto;
      display: flex;
      justify-content: left;
      padding: 20px 0;
    }

    .mainp h2 {
      margin: 0;
      text-align: center;
      justify-content: center;
    }
    .forecast-day {
      flex: 0 0 calc(70.33% - 10px);
    }

    .weather-card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      padding: 20px;
      max-width: 900px;
      width: 100%;
    }
    .container {
      grid-template-columns: repeat(4, 1fr);
   }

    .coastal {
      gap: 40px;
    }
    footer {
      padding: 10px;
      color: #000;
      text-align: center;
      display: flex;
      justify-items: start;
      background: green;
    }
    
    footer p {
      display: block;
      text-align: center;
      padding: 10px ;
      margin: 10px;
    }
    footer > div > .terms {
      margin-left: 20px;
    }
}