@media only screen and (min-width: 64rem) {
	nav a {
		font-size: 1.3rem;
	}
	.containerNav {
	  width: 960px;
	}

	.menu-left {
	  display: flex;
	  flex: 1;
	  justify-content: flex-start;
	}
	.nav-toggle {
	  display: none;
	}
	.menu-right {
	  display: flex;
	  justify-content: flex-end;
	  flex: 1;
	}
   .menu-left li {
      margin-left: 1rem;
    }
  
    #hamburgerBtn {
      display: none;
    }
  
    nav ul {
      display: flex;
    }
  
    #primaryNav {
      margin-left: auto;
    }

    .abouts h2,h3 {
      margin: 20px auto;
      display: flex;
      justify-content: left;
      padding: 20px 0;
    }
    .forecast-day {
      flex: 0 0 calc(70.33% - 10px);
    }

    .weather-card {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      padding: 20px;
      max-width: 900px;
      width: 100%;
    }
    .container {
      grid-template-columns: repeat(4, 1fr);
   }

    .coastal {
      gap: 40px;
    }
    footer {
      padding: 10px;
      color: #000;
      text-align: center;
      display: flex;
      justify-items: start;
      background: green;
    }
    
    footer p {
      display: block;
      text-align: center;
      padding: 10px ;
      margin: 10px;
    }
    footer > div > .terms {
      margin-left: 20px;
    }
}