* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 6%;
  background-color: #fefefe;
}
  header {
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 0.0225rem solid #0056b3;
}
header {
  background-color: #fff;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 20px;
}
/*-------hamburgerBtn------------*/
nav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #000;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li a {
  display: block;
  padding: 0.5rem 2vw;
  text-decoration: none;
  color: #fff;
}
nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
}
nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
nav ul {
  display: none;
}
nav ul.open {
  display: block;
  background-color: #0056b3;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}
.current-date {
  background-color: #0056b3;
  width: 100%;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

h2,
h3 {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}
.page-content {
  margin: 20px auto;
  max-width: 100%;
  padding: 20px;
}
.socialmedia {
  list-style-type: none;
  padding: 5px;
  margin-bottom: 20px;
}

.socialmedia li {
  display: inline-block;
  margin-right: 10px;
}

.socialmedia li a {
  font-size: 30px;
  color: tomato;
  text-decoration: none;
}
#YouTube,
#Instagram,
#facebook,
#Twitter {
  font-size: 24px;
}
.socialmedia li a:hover {
  color: #007bff;
  transition: 0.3s;
}

/* Mobile */
.section-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0.5em;
  margin: 0;
  padding: 20px;
}

.sectionD {
  grid-area: 1 / 1 / 2 / 5;
  padding: 100px;
  border: solid #0056b3;
  margin-top: auto;
  margin-top: 150px;
}

.sectionA {
  grid-area: 2 / 1 / 3 / 5;
  padding: 70px;
  border: solid #0056b3;
}
.sectionB {
  grid-area: 3 / 1 / 4 / 5;
  padding: 70px;
  border: solid #0056b3;
}
.sectionC {
  border: solid #0056b3;
  grid-area: 5 / 1 / 6 / 5;
  padding: 70px;
}
.sectionE {
  grid-area: 4 / 1 / 5 / 5;
  padding: 70px;
  border: solid #0056b3;
}
.sectionF {
  grid-area: 6 / 1 / 5 / 5;
  padding: 70px;
  border: solid #0056b3;
}
.sectionG {
  grid-area: 7 / 1 / 7 / 5;
  padding: 70px;
  border: solid #0056b3;
}
.sectionH {
  grid-area: 5 / 1 / 7 / 5;
  padding: 70px;
  border: solid #0056b3;
}

.spotlights {
  padding: 30px;
}
.sectionF {
  padding: 70px;
}
.sectionG {
  padding: 70px;
}
footer {
  color: #000;
  padding: 2rem;
  text-align: center;
}
.footer-container {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  padding: 20px;
}
.footer-container img,
header img {
  height: 50px;
  width: auto;
}

.contact-info {
  text-align: right;
}

.contact-info p {
  margin: 0;
  padding: 0.5rem;
}
/* Footer */
footer {
  color: #000;
  font-size: 14px;
  padding: 20px;
}


.footer-container div:last-child {
  margin-bottom: 0;
}

.contact-info {
  flex: 1;
  text-align: center;
  margin-bottom: 10px;
}

.map {
  flex: 1;
  text-align: center;
  margin-bottom: 10px;
}
