@media only screen and (min-width: 32.5em){
   h1 {
     font-size: 36px;
   }
   
   nav li {
     margin-bottom: 10px;
   }
   
   footer {
     font-size: 14px;
   }
   .header-title {
      font-size: 22px;
    }
  
    .nav-item {
      margin-bottom: 8px;
    }
  
    .main-paragraph {
      font-size: 16px;
    }
    .container img {
      float: left;
    }
    .header-title {
      font-family: cursive;
      margin-left: 15% 10% 20% 70%;
      display: flex;
      text-align: center;
    }
 }