@media only screen and (max-width: 32.5em){
    h1 {
        padding-left: 50px;
        font-family: 'Roboto serif', cursive;
        color: rgb(21, 173, 243);
        font-size: 2.5em;
    }
    header nav ul{
        display: grid;
    }

    nav ul {
        display: grid;
    }
    
    nav ul li {
        flex: 1 1 100%;
    }
    footer ul{
        display: grid;
    }
    img{
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        float: left;
        width: 100%;
        height: 400px;
        box-shadow: 0 0 10px 5px rgb(15, 10, 10);
      }
    
  }