
@media only screen and (min-width: 48em) {
  body {
    margin-top: 10%;}
  nav button {
    display: none;
 }
 nav ul#primaryNav {
    display: flex;
    margin-left: 2vw;
    justify-content: center;
 }
 nav ul li a {
    border: none;
 }
  .section-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .sectionA {
    grid-area: 1 / 1 / 3 / 2;

    padding: 110px;
  }
  .sectionB {
    grid-area: 3 / 1 / 5 / 2;
    padding: 110px;
  }

  .sectionC {
    grid-area: 5 / 1 / 7 / 2;
    padding: 110px;
  }
  .sectionD {
    grid-area: 1 / 2 / 5 / 4;
    padding: 230px;
  }
  .sectionE {
    grid-area: 5 / 2 / 7 / 4;
    padding: 120px;
    margin-top: -10px;
  }
  .sportlights {
    border: solid #0056b3;
    grid-area: 1 / 4 / 7 / 4;
    padding: 20px 15px;

}
  .sectionF {
    grid-area: 1 / 1 / 3 / 5;
    padding: 100px ;
  }
  .sectionG {
    grid-area: 3 / 1 / 5 / 5;
    padding: 100px ;
  }
  .sectionH {
    grid-area: 5 / 1 / 7 / 5;
    display: block;
    padding: 100px ;
    border: solid #0056b3;
  }

} 